# File di aiuto
HELP.md

# Build e dipendenze
target/
!**/src/main/**/target/
!**/src/test/**/target/
build/
bin/
*.class
*.jar
*.war
*.ear

# Maven
.mvn/
.mvn/wrapper/maven-wrapper.jar

# File temporanei e di log
*.log
*.tmp
*.swp

### STS ###
.apt_generated
.classpath
.factorypath
.project
.settings
.springBeans
.sts4-cache

### IntelliJ IDEA ###
.idea
*.iws
*.iml
*.ipr

### NetBeans ###
/nbproject/private/
/nbbuild/
/dist/
/nbdist/
/.nb-gradle/
build/

### VS Code ###
.vscode/

# File di sistema
*.DS_Store

# File di configurazione sensibili


# Esempio di file di configurazione (da includere nel repo)
!application.properties.example

# Firebase Security
application-local.properties
config/
firebase-service-account*.json
